* {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle, rgba(17,17,25,1) 0%, rgba(8,9,10,1) 100%, rgba(18,18,23,1) 86%);
  background-size: cover;
  color: whitesmoke;
  overflow-x: hidden;
 
}

/* NAV BAR */

.nav-container {
  height: 100px;
  width: 100vw;
  /* border: 1px solid red; */
}

nav{
  display: flex;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
  margin-right: 6%;
  
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  margin: .5%;
  border-right: 1px solid rgb(255, 250, 195);
  padding: .3% 1%;
  font-family: 'Mukta', sans-serif;
  text-shadow: 0px 0px 20px rgb(0, 195, 255);
}

nav a:hover{
  text-shadow: 0px 0px 20px rgb(255, 209, 217);
 border-bottom: 1px solid rgb(255, 250, 195);
  border-right: transparent;
}

/* LANDING BODY */

.landing-container{
  display: flex;
  width: 100vw;
  height: 90vh;
}

.landing-body {
  height: 90vh;
  width: 60vw;
  /* border: 1px solid white; */
  /* z-index: 0; */
}

.welcome {
  height: 20vh;
  width: 60vw;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  margin-top: 20vh;
  text-shadow: 0px 0px 10px rgb(0, 195, 255);
}

.welcome h1 {
  color: whitesmoke;
  font-size: 8vw;
  letter-spacing: 5px; 
  font-weight: 200;
  font-family: 'Noto Serif Display', serif;
  padding-left: 12vw;
}

.about {
  margin-top: 2%;
  width: 60vw;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
}

.about p{
  margin-left: 12vw;
  padding-left: 5vw;
  width: 60vw;
  border-left: 1px solid rgb(255, 250, 195);;
  font-family: 'Mukta', sans-serif;
  line-height: 1.2;
  letter-spacing: .5px;
  text-shadow: 0px 0px 5px rgb(255, 209, 217);
}


.img-body{
  width: 38vw;
  height: 90vh;
  /* border: 1px solid yellow; */
  display: flex;
}
 
.img{
height: 55vh;
width: 38vw;
/* border: 1px solid green; */
background-image: url(./assets/ufo2.png);
  background-size: cover;
  background-position: 50% 50%;
   background-repeat: no-repeat;
   margin-top: 10vh;
}