* {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle, rgba(17,17,25,1) 0%, rgba(8,9,10,1) 100%, rgba(18,18,23,1) 86%);
  background-size: cover;
  color: whitesmoke;
  overflow-x: hidden;
 
}

/* NAV BAR */

.nav-container {
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12vw;
 cursor:default;
}

.logo h1 {
   font-family: 'Mukta', sans-serif;
  letter-spacing: 1.2px;
  font-size: 2.5vw;
  font-weight: 200;
  text-shadow: 0px 0px 20px #ff9dd9;
}

.last-name{
  text-shadow: 0px 0px 20px rgb(0, 195, 255);
  
}

.logo h1:hover{
text-shadow: 0px 0px 20px rgb(0, 195, 255);
}

.last-name:hover{
  text-shadow: 0px 0px 20px #ff9dd9;
}

nav{
  display: flex;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
  margin-right: 6%;
  
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  margin: .5%;
  padding: .0% 4%;
  font-family: 'Mukta', sans-serif;
  text-shadow: 0px 0px 20px rgb(0, 195, 255);
}

nav a:hover{
  text-shadow: 0px 0px 20px rgb(255, 209, 217);
 /* border-bottom: 1px solid rgb(255, 209, 217); */
 
  border-right: transparent;
  
}

nav div{
  /* border: 1px solid pink; */
  width: 8vw;
  display: flex;
  justify-content: center;
}

nav a:active{
 text-shadow: 0px 0px 20px rgb(255, 234, 3);
  font-size: smaller;
}

/* LANDING BODY */

.landing-container{
  display: flex;
  width: 100vw;
  min-height: 90vh;
}

.landing-body {
  min-height: 90vh;
  width: 60vw;
  /* border: 1px solid white; */
  /* z-index: 0; */
}

.welcome {
  height: 20vh;
  width: 60vw;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  margin-top: 20vh;
  text-shadow: 0px 0px 10px rgb(0, 195, 255);
}

.welcome h1 {
  color: whitesmoke;
  font-size: 8vw;
  letter-spacing: 5px; 
  font-weight: 200;
  font-family: 'Noto Serif Display', serif;
  padding-left: 12vw;
  
}

.about {
  margin-top: 2%;
  width: 60vw;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
}

.about p{
  margin-left: 12vw;
  padding-left: 5vw;
  width: 60vw;
  border-left: 1px solid rgb(255, 250, 195);;
  font-family: 'Mukta', sans-serif;
  line-height: 1.2;
  letter-spacing: .5px;
  text-shadow: 0px 0px 13px #ffbfe6;
}


.img-body{
  width: 38vw;
  min-height: 90vh;
  /* border: 1px solid yellow; */
  display: flex;
}
 
.img{
height: 55vh;
width: 38vw;
/* border: 1px solid green; */
background-image: url(./assets/ufo2.png);
  background-size: cover;
  background-position: 50% 50%;
   background-repeat: no-repeat;
   margin-top: 10vh;
}

/* LINE BREAK */

.line-container{
  width: 100vw;
  min-height: 5px;
  display: flex;
  justify-content: center;
}

.line{
  width: 10px;
  border-top: 10px dotted rgb(255, 251, 205);
 padding: 1px;
}
.line2{
  height: 5px;
  width: 10px;
  border-top: 10px dotted rgb(205, 252, 255);
  padding: 1px;
}
.line3{
  height: 5px;
  width: 10px;
  border-top: 10px dotted rgb(255, 193, 239);
  padding: 1px;
}


/* SKILLS + ICONS*/

.skill-section{
  width: 100vw;
  min-height: 80vh;
  /* border: 1px solid yellow; */
}
.skill-title{
  min-height: 5vh;
  width: 100vw;
  /* display: flex;
  justify-content: center; */
  margin: 5% 0;
  text-shadow: 0px 0px 10px rgb(0, 195, 255);
}

.skill-title h1 {
  color: whitesmoke;
  font-size: 5vw;
  letter-spacing: 5px; 
  font-weight: 200;
  font-family: 'Noto Serif Display', serif;
  margin-left: 12vw;
}
.skills {
  display:flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
  min-height: 90vh;
  /* border: 1px solid red; */
}

.logo-c{
  min-height: 90vh;
  width: 85vw;
  margin: 0;
  /* border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.dev-logo {
  width: 18vw;
  height: 18vh;
  /* border: 1px solid pink; */
  margin: 1.2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 margin-bottom: 3%;
}


.html {
  height: 12vh;
  width: 15vw;
  background-image: url(./assets/icons/HTML.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3%;
}

.html-box{
  border-left: 1px solid rgb(255, 158, 122);
  border-bottom: 5px solid rgb(255, 158, 122);
  border-right: 2px solid rgb(255, 158, 122);
  border-radius: 0 0 10px 10px;
  /* box-shadow: rgb(255, 124, 76); */
}

.dev-logo:hover{
  transform:translateY(-20px);
}

.css {
  height: 12vh;
  width: 15vw;
  background-image: url(./assets/icons/CSS.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3%;
}

.css-box{
   border-left: 1px solid rgb(71, 147, 255);
  border-bottom: 5px solid rgb(71, 147, 255);
  border-right: 2px solid rgb(71, 147, 255);
  border-radius: 0 0 10px 10px;
}

.js {
  height: 12vh;
  width: 15vw;
  background-image: url(./assets/icons/JS.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3%;
}

.js-box{
   border-left: 1px solid rgb(248, 248, 14);
  border-bottom: 5px solid rgb(248, 248, 14);
  border-right:  2px solid rgb(248, 248, 14);
  border-radius: 0 0 10px 10px;
}

.react {
  height: 12vh;
  width: 15vw;
  background-image: url(./assets/icons/react.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3%;
}

.react-box{
   border-left: 1px solid rgb(14, 217, 248);
  border-bottom: 5px solid rgb(14, 217, 248);
  border-right: 2px solid rgb(14, 217, 248);
  border-radius: 0 0 10px 10px;
}

.node {
  height: 12vh;
  width: 15vw;
  background-image: url(./assets/icons/node.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3%;
}

.node-box{
   border-left: 1px solid rgb(194, 255, 109);
  border-bottom: 5px solid rgb(194, 255, 109);
  border-right: 2px solid rgb(194, 255, 109);
  border-radius: 0 0 10px 10px;
}

.ex {
  height: 12vh;
  width: 15vw;
  background-image: url(./assets/icons/express.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3%;
}

.ex-box{
   border-left: 1px solid rgb(63, 63, 63);
  border-bottom: 5px solid rgb(63, 63, 63);
  border-right: 2px solid rgb(63, 63, 63);
  border-radius: 0 0 10px 10px;
}

.sql {
  height: 12vh;
  width: 15vw;
  background-image: url(./assets/icons/SQL.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3%;
}

.sql-box{
   border-left: 1px solid rgb(78, 141, 200);
  border-bottom: 5px solid rgb(78, 141, 200);
  border-right: 2px solid rgb(78, 141, 200);
  border-radius: 0 0 10px 10px;
}

.mysql {
  height: 12vh;
  width: 15vw;
  background-image: url(./assets/icons/mysql.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3%;
}

.mysql-box{
   border-left: 1px solid rgb(22, 97, 121);
  border-bottom: 5px solid rgb(22, 97, 121);
  border-right: 2px solid rgb(22, 97, 121);
  border-radius: 0 0 10px 10px;
}

.seq{
  height: 12vh;
  width: 15vw;
  background-image: url(./assets/icons/sequelize.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3%;
}

.seq-box{
   border-left: 1px solid rgb(60, 162, 197);
  border-bottom: 5px solid rgb(60, 162, 197);
  border-right: 2px solid rgb(60, 162, 197);
  border-radius: 0 0 10px 10px;
}

.mongo{
  height: 12vh;
  width: 15vw;
  background-image: url(./assets/icons/mongoDB.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3%;
}

.mongo-box{
   border-left: 1px solid rgb(196, 255, 173);
  border-bottom: 5px solid rgb(196, 255, 173);
  border-right: 2px solid rgb(196, 255, 173);
  border-radius: 0 0 10px 10px;
}

.mongoose{
  height: 12vh;
  width: 15vw;
  background-image: url(./assets/icons/mongoose.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3%;
}

.mongoose-box{
   border-left: 1px solid rgb(133, 40, 40);
  border-bottom: 5px solid rgb(133, 40, 40);
  border-right: 2px solid rgb(133, 40, 40);
  border-radius: 0 0 10px 10px;
}

.boot{
  height: 12vh;
  width: 15vw;
  background-image: url(./assets/icons/bootstrap.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3%;
}

.boot-box{
   border-left: 1px solid rgb(95, 44, 147);
  border-bottom: 5px solid rgb(95, 44, 147);
  border-right: 2px solid rgb(95, 44, 147);
  border-radius: 0 0 10px 10px;
}