body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: radial-gradient(circle, rgba(17,17,25,1) 0%, rgba(8,9,10,1) 100%, rgba(18,18,23,1) 86%);
  background-size: cover;
  color: #333;
  overflow-x: hidden;
}

/* NAV BAR */

.nav-container {
  height: 100px;
  width: 100vw;
  /* border: 1px solid red; */
}

nav{
  display: flex;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
  margin-right: 6%;
  
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  margin: .5%;
  border-right: 1px solid whitesmoke;
  padding: .3% 1%;
}

nav a:hover{
  color: rgb(255, 209, 217);
 border-bottom: 1px solid rgb(255, 209, 217);
  border-right: transparent;
}


 